.line-break{
	heigth: 0px;
	border-top: 1px solid lightgray;
	margin-top: 6%;
	margin-bottom: 6%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.one-liner-form{
	margin-top: 20px;
	margin-bottom: 20px;
	width: auto;
}

.error{
	display: block;
	color: #a65 !important;
	text-align: center;
	background-color: #ffb3a0 !important;
}

.success{
	display: block;
	color: beige;
	text-align: center;
	background-color: #3AC93A;
}

.with-padding-top{
	padding-top: 15px;
}