div#login_container {
	text-align:center;
	width:auto;
}
div#login_container div#login_warning {
	background-color:#ffb3a0 !important;
	color:#a65 !important;
	border:1px solid #a65 !important;
}
div.form-group {
	display:block !important;
}
div.form-group input {
	display:inline-block !important;
	width:auto !important;
	margin-left:20px;
}